<!-- <p id="notice"><%= notice %></p> -->

<div class="page-header">
  <div class="row">
    <div class="col-sm-offset-1">
      <h1>Team Manager
        <small>
          Teams
        </small>
      </h1>
    </div>
  </div>
</div>

<%= render 'home/navbar' %>

<h2>Teams</h2>
<table class="centertable">

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= link_to 'Show', group %></td>

        <% if current_user.has_role?(:admin) %>
          <td><%= link_to 'Edit', edit_group_path(group) %></td>


          <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.has_role?(:admin) %>
  <div class="center">
    <%= link_to 'New Team', new_group_path %>
  </div>
<% end %>
