<% @group_id = params[:id] %>

<div class="page-header">
  <div class="row">
    <div class="col-sm-offset-1">
      <h1>Team Manager
        <small>
          Team Rocket
        </small>
      </h1>
    </div>
  </div>
</div>

<%= render 'home/navbar' %>

<div class="center panel panel-default">
  <div class="panel-header">
    TWILIO Demo - Prototype 1
  </div>
  <div class="panel-body">
    <%= form_tag('/send_sms', method: 'POST') do %>
        <input type="text" placeholder="enter number" name="number">
        <input type="text" placeholder="enter message here" name="message">
        <button type="submit">Submit</button>
    <% end %>
  </div>
</div>




<!--- SQL query to get all memebrs in this group --->
<% @cur_users = User.where("group_id = ?",@group_id) %> <!--- Query to search for all people having same group id --->


<% ph_string = ''%>
<% i = 1%>
<% @cur_users.each do |cur_user| %>
	<% if i == 1%>
		<% ph_string = ph_string + cur_user.phone_number %>
	<% else %>
		<% ph_string = ph_string+','+cur_user.phone_number %>
	<% end %>
<% i = i + 1%>
<% end %>









<h2> Prototype 2 message will be sent to: </h2>
<table class="centertable">
  <tr>
    <th> Name </th>
    <th> Phone numbers </th>
  </tr>
<% @cur_users.each do |cur_user| %>
  <tr>
    <td><%= cur_user.last_name %></td>
    <td><%= cur_user.phone_number %></td>
  </tr>
<% end %>
</table>


<div class="center panel panel-default">
  <div class="panel-header">
    TWILIO Demo - Prototype 2
  </div>
  <div class="panel-body">
    <%= form_tag('/send_group_sms', method: 'POST') do %>
    <input type="hidden" value=<%= ph_string%> name="numbers" >
    <input type="text" placeholder="enter message here" name="message">
    <button type="submit">Submit</button>
    <% end %>
  </div>
</div>







<div class="center">
  <%= link_to 'Show', @group %> |
  <%= link_to 'Back', groups_path %>
</div>
