<div class="page-header">
  <div class="row">
    <div class="col-sm-offset-1">
      <h1>Team Manager
        <small>
          Home Page
        </small>
      </h1>
    </div>
  </div>
</div>

<%= render 'home/navbar' %>

<div class="row">
  <div class="panel panel-default col-sm-6">
    <div class="panel-header">
      <h3><u> Announcements</u></h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item">2017 Soccer Season Begins August 1st!</li>
        <li class="list-group-item">Statistics have been updated from 2015 season.  Check them out!</li>
        <li class="list-group-item">Photos have been added from the Tournament!</li>
        <li class="list-group-item">Championship Game is November 8th, 2016.</li>
        <li class="list-group-item">Tournament begins October 15th.</li>
      </ul>
    </div>
  </div>

  <div class="panel panel-default col-sm-6">
    <div class="panel-header">
      <h3><u>TODO List Before Season Begins</u></h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item"><%= link_to 'Create/Update Profile', edit_user_registration_path %></li>
        <li class="list-group-item"><%= link_to 'Join a team', groups_path %></li>
        <li class="list-group-item">Pick up uniform</li>
        <li class="list-group-item"><%= link_to 'Check practice schedule', schedules_path %></li>
        <li class="list-group-item">Ready to start!</li>
      </ul>
<<<<<<< HEAD
    </div>
  </div>
</div>

<div class="owl-carousel">
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div id="user_nav" class="pull-right">
      <% if user_signed_in? %>
          Signed in as <%= current_user.email %>. Not You? </br>
          <%= link_to 'Edit profile', edit_user_registration_path %> |
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
          <%= link_to "Sign up", new_user_registration_path %> or
          <%= link_to "Sign in", new_user_session_path %>
      <% end %>
    </div>
=======
>>>>>>> 60e92d263413e8e38f05add847becc9062c44c4f
  </div>
