<head>
  <div class="style-head">
    <div class="page-heading">
      <div class="row">
        <div class="col-sm-offset-1">
          <h1><span class="glyphicon glyphicon-dashboard"></span> Team Manager
            <small>
              Team Statistics
            </small>
          </h1>
        </div>
      </div>
    </div>
  </div>
</head>

<%= render 'home/navbar' %>

    <table class="centertable eventable">
      <tr>
        <th>Team</th>
        <th>Games Played </th>
        <th>Average Possession %</th>
        <th>Offsides</th>
        <th>Goals Conceded</th>
        <th>Passing Accuracy %</th>
        <th>Goals</th>
        <th>Yellow Cards</th>
        <th>Red Cards</th>
      </tr>
    <% @groupstats.each do |groupstat| %>
      <tr>
        <td class="left"><%= link_to groupstat.group.name, group_path(groupstat.group_id) %></td>
        <td><%= groupstat.games_played %></td>
        <td><%= groupstat.average_possesion %></td>
        <td><%= groupstat.offsides %></td>
        <td><%= groupstat.goals_conceded %></td>
        <td><%= groupstat.passing_accuracy %></td>
        <td><%= groupstat.goals %></td>
        <td><%= groupstat.yellow_cards %></td>
        <td><%= groupstat.red_cards %></td>

    <% end %>

    <table class="centertable eventable">
      <tr>
        <th>Player</th>
        <th>Games Played </th>
        <th>Minutes Played</th>
        <th>Goals</th>
        <th>Yellow Cards</th>
        <th>Red Cards</th>
      </tr>
      <% @userstats.each do |userstat| %>
        <tr>
          <td class="left"><%= link_to userstat.user.first_name, userstat_path(userstat.user_id) %></td>
          <td><%= userstat.games_played %></td>
          <td><%= userstat.minutes_played %></td>
          <td><%= userstat.goals %></td>
          <td><%= userstat.yellow_cards %></td>
          <td><%= userstat.red_cards %></td>

      <% end %>

    </table>

<div class="row col-xs-offset-1 col-xs-10">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Team Statistics</h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>Team</th>
            <th>Games Played </th>
            <th>Average Possession</th>
            <th>Offsides</th>
            <th>Goals Conceded</th>
            <th>Passing Accuracy</th>
            <th>Goals</th>
            <th>Yellow Cards</th>
            <th>Red Cards</th>
          </tr>
          <% @groupstats.each do |groupstat| %>
          <tr>
            <td class="left"><%= link_to groupstat.group.name, group_path(groupstat.group_id) %></td>
            <td><%= groupstat.games_played %></td>
            <td><%= groupstat.average_possesion %></td>
            <td><%= groupstat.offsides %></td>
            <td><%= groupstat.goals_conceded %></td>
            <td><%= groupstat.passing_accuracy %></td>
            <td><%= groupstat.goals %></td>
            <td><%= groupstat.yellow_cards %></td>
            <td><%= groupstat.red_cards %></td>

            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
